@model EmployeePersonalAddressVM
@{
    ViewBag.title = "Search addresses of all employees by location";
}
@ViewBag.City
<form method="post" asp-controller="Employee" asp-action="SearchByCity">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <label asp-for="SearchTerm">Search Term: </label>
                <input type="text" name="searchTerm" asp-for="SearchTerm" />
                <span asp-validation-for="SearchTerm" class="text-danger"></span>
                <button type="submit" class="btn btn-warning">Search</button>
            </div>
        </div>
    </div>
</form>
<partial name="_EmployeeAddressesByCity" model="@Model.EmployeesAddresses" view-data="@ViewData" ></partial>

